.App {
    text-align: center;
}

.centered-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.centered-form {
    display: flex;
    width: 80%;
    max-width: 600px;
}

.text-field {
    flex-grow: 1;
    margin-right: 16px; /* Spacing between input and button */
}

.submit-button {
    width: 100px; /* Fixed width for the button */
}
